.header__logo > *:hover, .portfolio-nav__link, .portfolio-nav__link:hover, .button-submit:hover, .navigation__link:hover, .inform-nav__link:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body, .portfolio-nav__link, .form__inputs, .form__inputs::-webkit-input-placeholder, .form__textarea, .form__textarea::-webkit-input-placeholder, .button-submit {
  font-family: "Lato", sans-serif;
}

body, .portfolio-nav__link, .form__inputs, .form__inputs:-ms-input-placeholder, .form__textarea, .form__textarea:-ms-input-placeholder, .button-submit {
  font-family: "Lato", sans-serif;
}

body, .portfolio-nav__link, .form__inputs, .form__inputs::-ms-input-placeholder, .form__textarea, .form__textarea::-ms-input-placeholder, .button-submit {
  font-family: "Lato", sans-serif;
}

body, .portfolio-nav__link, .form__inputs, .form__inputs::placeholder, .form__textarea, .form__textarea::placeholder, .button-submit {
  font-family: "Lato", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.6rem;
  font-style: normal;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.6rem;
  font-style: normal;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.8rem;
  font-style: normal;
}

h3 {
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.8rem;
  font-style: normal;
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 29px;
}

.header__logo h1 {
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.header__logo span {
  color: #f06c64;
}

.header__logo > *:hover {
  color: #f06c64;
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  padding-bottom: 17px;
}

.portfolio-nav__link {
  margin-right: 8px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  background: #2d303a;
  color: #666d89;
  border: 1px solid #666d89;
  border-radius: 6px;
  padding: 0 6px 2px 8px;
  text-align: justify;
}

.portfolio-nav__link:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.portfolio-nav__link_active {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  font-style: normal;
}

.form__inputs {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
  overflow: hidden;
  background: #d6564f;
  color: #f0d8d9;
  width: 100%;
  width: 620px;
  height: 37px;
  margin-bottom: 17px;
  border: 1px solid #d6564f;
  border-radius: 6px;
  padding: 0 0 0 14px;
}

.form__inputs::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__inputs:-ms-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__inputs::-ms-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__inputs::placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__textarea {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  overflow: hidden;
  text-align: justify;
  background: #d6564f;
  color: #f0d8d9;
  resize: none;
  width: 100%;
  width: 620px;
  height: 203px;
  border: 1px solid #d6564f;
  border-radius: 6px;
  padding: 6px 0 0 14px;
}

.form__textarea::-webkit-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__textarea:-ms-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__textarea::-ms-input-placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.form__textarea::placeholder {
  color: #f48c8f;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.button-submit {
  width: 100px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  color: #f0d8d9;
  background: #d6564f;
  border: 1px solid #d6564f;
  border-radius: 6px;
}

.button-submit:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-list > * {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
}

.gallery-list__items {
  margin-bottom: 20px;
}

.gallery-list__ico_active {
  width: 220px;
  height: 187px;
  border: 5px solid #F06C64;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 960px;
  padding: 0 10px;
  margin: auto;
}

.header {
  background: #2d303a;
  border-bottom: 6px solid #323746;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pusto {
  height: 96px;
}

.footer {
  background: #2d303a;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 23px;
}

.footer__text {
  color: #767e9e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav > * {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.footer-nav__link {
  margin-left: 8px;
}

.navigation {
  padding-top: 35px;
  padding-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation > * {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.navigation__link {
  margin-left: 28px;
  padding-top: 5px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 0.6rem;
  font-style: normal;
}

.navigation__link:hover {
  color: #f06c64;
}

.navigation__link_active {
  color: #f06c64;
}

.phones {
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.phones__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-top: 51px;
  padding-bottom: 59px;
}

.phones__wrapper > * {
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.phones-arrow {
  color: #ca4549;
  cursor: pointer;
}

.services {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services-content {
  padding-top: 68px;
}

.services-content__title {
  color: #666d89;
  padding-bottom: 27px;
}

.services-content__sub-title {
  color: #767e9e;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  font-style: normal;
  text-align: justify;
}

.services-info__title {
  color: #666d89;
  padding-bottom: 9px;
}

.services-info__sub-title {
  color: #767e9e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px;
  padding-bottom: 28px;
}

.services-block > * {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.services-box {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-info {
  margin: 0 0 0 22px;
  margin: 0 0 30px 22px;
}

.header-portfolio {
  background: #2d303a;
  border-bottom: 6px solid #323746;
  padding-bottom: 48px;
}

.portfolio-box {
  padding-top: 70px;
}

.portfolio-box__title {
  color: #666d89;
  padding-bottom: 26px;
}

.portfolio-box__sub-title {
  color: #666d89;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  font-style: normal;
}

.about-us {
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about-us-header {
  padding-top: 68px;
  padding-bottom: 45px;
}

.about-us-header__title {
  color: #666d89;
  padding-bottom: 27px;
}

.about-us-header__sub-title {
  color: #767e9e;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  font-style: normal;
  text-align: justify;
}

.block-3-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-3-columns > * {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.box__title {
  color: #666d89;
  padding-top: 17px;
  padding-bottom: 10px;
}

.box__sub-title {
  color: #767e9e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
}

.box-nav {
  padding-top: 22px;
  padding-bottom: 67px;
}

.box-nav__link {
  margin-right: 5px;
}

.contacts {
  background: #f06c64;
}

.contacts-header {
  padding-top: 68px;
  padding-bottom: 44px;
}

.contacts-header__title {
  color: #f0d8d9;
  padding-bottom: 27px;
}

.contacts-header__sub-title {
  color: #f0d8d9;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 3rem;
  font-style: normal;
  text-align: justify;
}

.wrapper-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 15px;
}

.wrapper-form > * {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
}

.form {
  margin: 0;
}

.information {
  padding-right: 0px;
}

.information__title {
  color: #f0d8d9;
  padding-bottom: 10px;
}

.information__sub-title {
  color: #f0d8d9;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
  text-align: justify;
  padding-bottom: 7px;
}

.inform-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
}

.inform-nav__link {
  text-decoration: none;
  color: #f0d8d9;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.2rem;
  font-style: normal;
}

.inform-nav__link:hover {
  padding-left: 5px;
}

.inform-nav__img {
  vertical-align: middle;
  padding-right: 12px;
}
/*# sourceMappingURL=style.css.map */