$color-bg-header: #2d303a;
$color-bg-phones: #f06c64;
$color-bg-services: #f2f2f2;
$color-bg-portfolio: #2d303a;
$color-bg-about-us: #f2f2f2;
$color-bg-form: #f06c64;
$color-bg-footer: #2d303a;
$color-bg-inputs: #d6564f;
$color-logo: #ffffff;
$color-hover: #f06c64;
$color-services-title: #666d89;
$color-services-sub-title: #767e9e;
$color-portfolio-text: #666d89;
$color-portfolio-sub-title: #767e9e;
$color-form-text: #f0d8d9;
$color-placeholder: #f48c8f;

$content-width: 960px;
$tablet-width: 768px;
$mobile-width: 375px;
