#phones {
    background: $color-bg-phones;
    border-bottom: 6px solid #ea676b;
}

.phones__wrapper {
    @include columns($width: 0%);
    flex-wrap: nowrap;
    padding-top: 51px;
    padding-bottom: 59px;
}

.phones-arrow {
    color: #ca4549;
    cursor: pointer;
}

#circleH {
    position: absolute;
    top: 355px;
    left: 676px;
}

#screenH {
    position: absolute;
    top: 278px;
    left: 723px;
    display: none;
}

#circleV {
    position: absolute;
    top: 555px;
    left: 453px;
}

#screenV {
    position: absolute;
    top: 279px;
    left: 304px;
    transform: rotate(90deg);
    display: none;
}

.servicesPos {
    position: absolute;
    top: 605px;
}
