.phones {
    background: $color-bg-phones;
    border-bottom: 6px solid #ea676b;
}

.phones__wrapper {
    @include columns($width: 0%);
    flex-wrap: nowrap;
    padding-top: 51px;
    padding-bottom: 59px;
}

.phones-arrow {
    color: #ca4549;
    cursor: pointer;
}
