.header-portfolio {
    background: $color-bg-portfolio;
    border-bottom: 6px solid #323746;
    padding-bottom: 48px;
}

.portfolio-box {
    padding-top: 70px;
}

.portfolio-box__title {
    color: $color-portfolio-text;
    padding-bottom: 26px;
}

.portfolio-box__sub-title {
    color: $color-portfolio-text;
    @include font($size: 1.8rem, $height: 3rem, $weight: 300);
}
