.form__inputs {
    @extend %font-prim;
    @include font($size: 1.2rem, $height: 2.2rem, $weight: 400);
    text-align: justify;
    overflow: hidden;
    background: $color-bg-inputs;
    color: $color-form-text;
    width: 100%;
    width: 620px;
    height: 37px;
    margin-bottom: 17px;
    border: 1px solid $color-bg-inputs;
    border-radius: 6px;
    padding: 0 0 0 14px;
}

.form__inputs::placeholder {
    color: $color-placeholder;
    @extend %font-prim;
    @include font($size: 1.2rem, $height: 2.2rem, $weight: 400);
    text-align: justify;
}

.form__textarea {
    @extend %font-prim;
    @include font($size: 1.2rem, $height: 2.2rem, $weight: 400);
    overflow: hidden;
    text-align: justify;
    background: $color-bg-inputs;
    color: $color-form-text;
    resize: none;
    width: 100%;
    width: 620px;
    height: 203px;
    border: 1px solid $color-bg-inputs;
    border-radius: 6px;
    padding: 6px 0 0 14px;
}

.form__textarea::placeholder {
    @extend %font-prim;
    color: $color-placeholder;
    @include font($size: 1.2rem, $height: 2.2rem, $weight: 400);
    text-align: justify;
}

.button-submit {
    width: 100px;
    height: 50px;
    @extend %font-prim;
    @include font($size: 1.2rem, $height: 2.2rem, $weight: 400);
    color: $color-form-text;
    background: $color-bg-inputs;
    border: 1px solid $color-bg-inputs;
    border-radius: 6px;
    &:hover {
        @extend %transition;
        color: $color-logo;
        border: 1px solid $color-logo;
        border-radius: 4px;
    }
}
